<div class="landing-page">
  <header>
    <h1>Welcome to Awesome Garage!</h1>
    <p>Manage abd Add cars to your Garage.</p>
    <%= link_to "View All Cars", cars_path, class: "btn btn-primary" %>
     <%= link_to "Go to Your Garage", favourites_path, class: "btn btn-secondary" %>
  </header>
</div>
